.container {
  display: inline-flex;
}

.question-number {
  margin: 0 0 0 10px;
  color: var(--primary1);
  font-size: x-large;
  text-align: right;
}

.text-container {
  position: relative;
  top: 5px;
  left: 2px;
}

.question-text {
  color: var(--text1);
}
